/* Custom properties*/
:root {
  --firstColor: #1f2a24;
  --secondColor: #303b34;
  --firstColorGradient: linear-gradient(
    180.37deg,
    #1f2a24 0.32%,
    #303b34 89.25%,
    rgba(255, 255, 255, 0) 134.22%
  );
}

/* Reset */
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Components */
/* Utilities */

/* Locals */
body {
  background: rgb(31,42,36);
  margin: 0;
  padding:0;
}

img {
  width: 100%;
  height: auto;
  box-shadow: #1f2a24;
}

.etiqueta {
  width: 70%;
  height: auto;
  box-shadow: #1f2a24;
}

div {
  text-align: center;
}

/* Responsive  */

@media (max-width: 800px) {
  img {
    width: 100%;
  }
  .etiqueta {
    width: 100%;
  }
}
